<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Commons.Json" version="0.3.0.775" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="net461" />
</packages>